<!DOCTYPE html>
<html>
<head>
  <title>opal-knockout example</title>
</head>
<body>
<form data-bind="with: user_form_view_model">
  <label>Name: <input type="text" data-bind="value: name"></label>
  <label>Age: <input type="number" data-bind="value: age"></label>
  <p data-bind="text: data"></p>
  <button type="button" data-bind="click: $increment_age">+</button>
  <button type="button" data-bind="click: $add_user_list">Add list</button>
</form>

<div data-bind="with: user_list_view_model">
  <h3>ユーザーリスト</h3>
  <ul data-bind="foreach: users">
    <li><span data-bind="text: name"></span>さんは<span data-bind="text: age"></span>歳です。</li>
  </ul>
</div>

<div data-bind="with: user">
  <dl>
    <dt>Name:</dt>
    <dd data-bind="text: name"></dd>
    <dt>Age:</dt>
    <dd data-bind="text: age"></dd>
  </dl>
  <button type="button" data-bind="click: $increment_age">
    加齢
  </button>
  <button type="button" data-bind="click: $decrement_age">
    減齢
  </button>

  <table>
    <caption data-bind="text: items.$size()"></caption>
    <tbody data-bind="foreach: items">
      <tr>
        <td data-bind="text: title"></td>
        <td data-bind="text: price"></td>
        <td data-bind="text: created_at"></td>
      </tr>
    </tbody>
  </table>

  <p>
    hoge result: <span data-bind="text: hoge"></span>
  </p>
  <p>
    foo result: <span data-bind="text: foo"></span>
  </p>

</div>
<%= javascript_include_tag @server.main %>
</body>
</html>