<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>opal-knockout example</title>
  <%= javascript_include_tag @server.main %>
</head>
<body>
test

<span data-bind="text: foo"></span>
</body>
</html>