<!DOCTYPE html>
<html>
<head>
  <title>opal-knockout example</title>
</head>
<body>
<div data-bind="with: user">
  <dl>
    <dt>Name:</dt>
    <dd data-bind="text: name"></dd>
    <dt>Age:</dt>
    <dd data-bind="text: age"></dd>
  </dl>
  <table>
    <caption data-bind="text: items.$size()"></caption>
    <tbody data-bind="foreach: items">
      <tr>
        <td data-bind="text: title"></td>
        <td data-bind="text: price"></td>
        <td data-bind="text: created_at"></td>
      </tr>
    </tbody>
  </table>

</div>
<%= javascript_include_tag @server.main %>
</body>
</html>