<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>opal-knockout example</title>
  <%= javascript_include_tag @server.main %>
</head>
<body>
test

<span data-bind="text: foo"></span>

<form>
  <input type="text" data-bind="textInput: baz">
  <span data-bind="text: baz"></span>
  <span data-bind="text: computed_baz"></span>
</form>
</body>
</html>